
body  {margin:0;}
.navbar {
  overflow: hidden;
  background-color: rgb(13, 2, 105);
  position: fixed;
  top: 0;
  width: 100%;
}


.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}

.navbar a:hover {
  color: rgb(204, 208, 7);
}

/* slide show */
.slideshow {
  padding: 0px;
  margin-top: 60px;
  height: 500px; 
}

/* first bit*/
.intro{
  background-color: rgb(236, 213, 109);
  background-size: cover;
  font-size: 40px;
  min-height: 0vh;
}

.h1{
  font-family: Rokkitt, serif;
  color: rgb(255,255,255);
  font-size: 60px;
  font-weight: bold;
  padding-top: 31px;
  text-align: center;
}

.card{
 background-color: rgba(255,255,255,0.87);
 margin-bottom:100px;
 margin-left:100px;
 text-align: center;
  margin-right:20px;
   width:1165px;
    padding:10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.second{
  background-color: rgb(236, 145, 109);
  background-size: cover;
  font-size: 40px;
  margin-top: 800px;
  min-height: 120vh;
}

.third{
  background-color:rgb(61,167,196);
  background-size: cover;
  font-size: 40px;
  margin-top: 0px;
  min-height: 100vh;
}

/* 
Style changes in footer
*/
.footer-container {
  background-color: #131413;
  padding-bottom: 4rem;

}

.footer{
  width: 100%;
  color: #ffff;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

  