
body  {margin:0;}

/*
  Universal font
*/
* {
  font-family: Arial, Helvetica, sans-serif;
}


h4{
  font-family: Rokkitt, serif;
  font-size: 38px;
}

p{
  font-size: 16px;
  font-family: Roboto, sans-serif;
  height: 290px;
}

button{
  height: 80px;
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0px;
}

h1{
  font-family: Rokkitt, serif;
  color: rgb(255,255,255);
  font-size: 60px;
  font-weight: bold;
  padding-top: 31px;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: rgb(13, 2, 105);
  position: fixed;
  top: 0;
  width: 100%;
}


.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
}

.navbar a:hover {
  color: rgb(204, 208, 7);
}

/* slide show */
.slideshow {
  padding: 0px;
  margin-top: 60px;
  height: 490px; 
}



.btn-group button {
  background-color: #4e4caf; /* Green background */
  border: 1px solid rgb(228, 210, 70); /* Green border */
  color: #ffffff; /* White text */
  font-size: large;
 width: 150px;
 height: 150px;
  cursor: pointer; /* Pointer/hand icon */
  white-space: normal; /* Float the buttons side by side */
}

/* button group
Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */s
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #df9cc3;
}


/* first writng bit*/
.intro{
  background-color: rgb(236, 213, 109);
  background-size: cover;
  font-size: 40px;
  min-height: 0vh;
}

/* end of button */
.card{
 background-color: rgba(255,255,255,0.87);
 margin-bottom:100px;
 margin-left:100px;
 text-align: center;
  margin-right:20px;
   width:1165px;
    padding:10px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.second{
  background-color: rgb(236, 145, 109);
  background-size: cover;
  font-size: 40px;
  margin-top: 800px;
  min-height: 120vh;
}

.third{
  background-color:rgb(61,167,196);
  background-size: cover;
  font-size: 40px;
  margin-top: 0px;
  min-height: 0vh;
}

/* 
Style changes in footer
*/
.footer_container {
  background-color: #131413;
  padding-bottom: 4rem;

}

.footer{
  width: 100%;
  color: #ffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

}

.img-overlay {
  position: relative;
  max-width: 100%;
  height: 800px;
}

.logo {
  position: absolute;
  top: 33%;
  left: 30%;
  text-align: center;
  height: 400px;
  z-index: 1;
}

/*
  Adjust Heading 1
*/
.footer_heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

/*
  Adjust Heading 2
*/
.footer_heading2{
  margin-bottom: 2rem;

}
/*
  Targets links
*/
.footer_heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;

}

/*
  Selects color used when hovering over links in footer
*/
.footer_heading a:hover{
  color:rgb(13, 2, 105);
  transition: .4s ease-out;
}

.container{
   height: 0px;
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
}

#slideshow_logo{
  width: 50rem; 
  padding-left: 450px;
  padding-bottom: 0px;
}

#slideshow_logo_container{
  padding: 0px;
  padding-top: 7rem;
  padding-bottom: 10rem;
  padding-left: 0;
  padding-right: 0;
}

#slideshow{
  height: 80vh;
  background-image: url(&quot;imgs/img2.png&quot;);
  background-position: center;
  background-size: cover;
}

#intro_div{
  height: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  transition: .2s ease-out;
}

#logo{
  width: 91px;
  margin: 8px;
}

#second_div{
  height: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

