
/*HEADER*/
#header {
  background:#002754;
  transition: all 0.5s;
  font-size: 15px;
 
  padding: 0px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: Topcase;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color:#e6e6e6;
}

#header a:hover {
  color: #F5AA1C;
}

#header .logo img {
  max-height: 40px;
}
/*HEADER ENDS*/


/*--------Navigation Menu----------------*/
/* DeskTop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #F5AA1c;
}
