

/*
  Universal fonts
*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to bottom right ,#005493,#c63527);
  /* background-image: linear-gradient(to bottom right, #F06C64, #cf5fae); */
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

main{
  padding: 25px;
}

.icons {
  margin-left: 5px;
  margin-right: 5px;
}
.material-icons {
  font-size: 25px !important;
}

/* slide show */
.slideshow {
  padding: 0px;
  margin-top: 60px;
  height: 490px; 
}


#banner-text{
  text-shadow: 2px 2px black; 
  max-width: 75%; 
  margin-right: auto; 
  margin-left: auto;
}