

/*
  Universal fonts
*/
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to bottom right ,#005493,#c63527);
  /* background-image: linear-gradient(to bottom right, #F06C64, #cf5fae); */
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}

main{
  padding: 25px;
}

.icons {
  margin-left: 5px;
  margin-right: 5px;
}
.material-icons {
  font-size: 25px !important;
}

/* slide show */
.slideshow {
  padding: 0px;
  margin-top: 60px;
  height: 490px; 
}

/* button group
Clear floats (clearfix hack) */
.btn-group button {
  background-color: #F5AA1C ; /* Green background */
  border: 5px solid  #002754  ; /* Green border */
  font-size:xx-large;
  width:350px;
  height: 130px;
  cursor: pointer; /* Pointer/hand icon */
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #c63527;
}
